html {
  overflow-x: hidden;
}

h2 {
  font-size: 2.5rem;
}

/* The hero image */
.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/bg/hero_bg2.jpg");
  /* height set */

  /* position set  */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.hero-text {
  color: white;
  text-align: center;
  padding: 5%;
}

/* Style the search box */
#mySearch {
  width: 100%;
  font-size: 18px;
  padding: 11px;
  border: 1px solid #ddd;
}

/* Style the navigation menu */
#myMenu {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* Style the navigation links */
#myMenu li a {
  padding: 12px;
  text-decoration: none;
  color: black;
  display: block
}

#myMenu li a:hover {
  background-color: #eee;
}

#project-content {
  padding: 8% 2%;
  font-size: 1.3rem;
}

.content-list {
  padding: 5.2%;
}

.image-block {
  padding: 2% 0;
}
