html {
  overflow-x: hidden;
}

h2 {
  font-size: 3.2rem;
}

.member-name {
  font-size: 1.5rem;
  font-weight: 600;
}

.member-info {
  font-size: 13px;
}

.spacing {
  padding: 4% 0;
}

.member-img {
  height: 300px;
}
